@model KPaTS.Models.SubjectModel

@{
    ViewBag.Title = "Details";
}

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--8-col mdl-shadow--2dp mdl-color--white card-padding">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Shortcut)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Shortcut)
        </div>
        <div class="mdl-button mdl-js-button mdl-js-ripple-effect cancel-action">Close</div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
