@model KPaTS.Models.AnswerModel

<div class="mdl-cell">
    <input type="hidden" id="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][Id]" value="@Model.Id" name="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][Id]"/>
    @if ((KPaTS.Models.QuestionType)ViewData["type"] == KPaTS.Models.QuestionType.Radio)
    {
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]">
            <input type="radio" id="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]" value="true" class="mdl-radio__button" name="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]" />
            <span class="mdl-radio__label">@Model.Text</span>
        </label>
    }
    else if ((KPaTS.Models.QuestionType)ViewData["type"] == KPaTS.Models.QuestionType.Check)
    {
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]">
            <input type="checkbox" id="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]" value="true" name="questions[@(ViewData["number"])][Answers][@(ViewData["count"])][isRight]" class="mdl-checkbox__input" />
            <span class="mdl-checkbox__label">@Model.Text</span>
        </label>
    }
    else if ((KPaTS.Models.QuestionType)ViewData["type"] == KPaTS.Models.QuestionType.Plain)
    {
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" name="questions[@(ViewBag.number)][Answers][0][Text]" id="questions[@(ViewBag.number)][Answers][0][Text]" ></textarea>
            <input type="hidden" value="true" id="questions[@(ViewBag.number)][Answers][0][isRight]" name="questions[@(ViewBag.number)][Answers][0][isRight]" />
            <label class="mdl-textfield__label" for="questions[@(ViewBag.number)][Answers][0][Text]">Answer</label>
        </div>
    }
</div>