@model KPaTS.Models.AnswerModel

<div class="mdl-cell answer" data-answer-id="@(ViewBag.answerId)">
    @if (ViewBag.type == KPaTS.Models.QuestionType.Radio)
    {
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]">
            <input type="radio" id="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]" value="true" class="mdl-radio__button" name="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]" />
            <span class="mdl-radio__label">Right answer</span>
        </label>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][Text]" />
            <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div>
    }
    else if (ViewBag.type == KPaTS.Models.QuestionType.Check)
    {
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]">
            <input type="checkbox" id="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]" value="true" name="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][isRight]" class="mdl-checkbox__input" />
            <span class="mdl-checkbox__label">Right answer</span>
        </label>
        <br />
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" name="questions[@(ViewBag.questionId)][Answers][@(ViewBag.answerId)][Text]" />
            <label class="mdl-textfield__label" for="sample1">Text...</label>
        </div>
    }
</div>