@model KPaTS.Models.QuestionModel

<div class="question displayNone mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col card-padding" data-question-id="@ViewBag.questionId" data-question-type="@((int)ViewBag.type)">
    <div class="mdl-textfield mdl-js-textfield body">
        <textarea class="mdl-textfield__input" rows="3" name="questions[@ViewBag.questionId][Text]" id="questions[@ViewBag.questionId][Text]"></textarea>
        <label class="mdl-textfield__label" for="questions[@ViewBag.questionId][Text]">Question text</label>
    </div>

    <h6>Answers</h6>

    <input type="hidden" value="@((int)ViewBag.type)" name="questions[@ViewBag.questionId][Type]" />
    @if (ViewBag.type != KPaTS.Models.QuestionType.Plain)
    {
        <div class="mdl-grid answers"></div>
    }
    else
    {
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" rows="3" name="questions[@(ViewBag.questionId)][Answers][0][Text]" id="questions[@(ViewBag.questionId)][Answers][0][Text]"></textarea>
            <input type="hidden" value="true" id="questions[@(ViewBag.questionId)][Answers][0][isRight]" name="questions[@(ViewBag.questionId)][Answers][0][isRight]" />
            <label class="mdl-textfield__label" for="questions[@(ViewBag.questionId)][Answers][0][Text]">Answer</label>
        </div>
    }
</div>