@model KPaTS.Models.QuestionModel

<div class="question displayNone mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col card-padding">
    <div class="mdl-textfield mdl-js-textfield textfield-demo">
        <textarea class="mdl-textfield__input" rows= "3" name="questions[@ViewBag.number][Text]" id="questions[@ViewBag.number][Text]" ></textarea>
        <label class="mdl-textfield__label" for="questions[@ViewBag.number][Text]">Question text</label>
    </div>

    <h6>Answers</h6>

    <input type="hidden" value="@((int)ViewBag.type)" name="questions[@ViewBag.number][Type]" />
    @if (ViewBag.type != KPaTS.Models.QuestionType.Plain)
    {
        <div id="answers@(ViewBag.number)" class="mdl-grid">
        </div>
        <input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="button" value="Add answer" onclick="@("addAnswer("+ViewBag.number+","+(int)ViewBag.type+")")" />
    }
    else
    {
        <div class="mdl-textfield mdl-js-textfield textfield-demo">
            <textarea class="mdl-textfield__input" rows= "3" name="questions[@(ViewBag.number)][Answers][0][Text]" id="questions[@(ViewBag.number)][Answers][0][Text]" ></textarea>
            <input type="hidden" value="true" id="questions[@(ViewBag.number)][Answers][0][isRight]" name="questions[@(ViewBag.number)][Answers][0][isRight]" />
            <label class="mdl-textfield__label" for="questions[@(ViewBag.number)][Answers][0][Text]">Answer</label>
        </div>
    }
</div>