@model KPaTS.Models.InfoModel

<div class="piece mdl-color--indigo-50 mdl-typography--button" data-info-id="@Model.Id">
    <div class="delete-piece mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
        <i class="material-icons">close</i>
    </div>
    @Model.Name
    <input type="hidden" name="Infos[@ViewBag.InfoIndex].Id" value="@Model.Id" />
</div>