@model KPaTS.Models.QuestionModel

<div class="question-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
    <div class="question">
        <h5>Question #@(Convert.ToInt32(ViewData["count"])+1)</h5>
        <p>@Html.Raw(Model.Text)</p>
    </div>
    <div class="answers">
        <div id="answers@(ViewData["count"])" class="mdl-grid">
            @{var answers = Model.Answers.ToList();}
            @for (int i = 0; i < answers.Count;i++ )
            {
                var dic = new ViewDataDictionary();
                dic.Add("count", i);
                dic.Add("number", ViewData["count"]);
                dic.Add("type", Model.Type);
                @Html.Partial("_AnswerPartialView", answers[i], dic);
            }
        </div>        
    </div>
    <input type="hidden" value="@Model.Id" id="questions[@(ViewData["count"])][Id]" name="questions[@(ViewData["count"])][Id]" />
    <div class="show-theory right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--white">
        <i class="material-icons">help</i>
    </div>
</div>