@model KPaTS.Core.AutocompleteInfo

<li class="suggest-item">
    <a @(Model.Id != Guid.Empty ? "href=/" + (Model.Type == KPaTS.Core.Type.Test ? "Test" : "Space") + "/Index?Id=" + Model.Id : "")>
        @if (Model.Type == KPaTS.Core.Type.Test)
        {
            <span class="shortcut">#@(Model.Shortcut)</span>
            if (Model.Space != "")
            {
                <span class="space">@@@(Model.Space)</span>
            }
        }
        else
        {
            @:@@@(Model.Shortcut)
        }
    </a>
</li>
