@model KPaTS.Core.AutocompleteInfo

<div class="mdl-card mdl-shadow--2dp autocomplete-card">
    <a @(Model.Id != Guid.Empty ? "href=/Test/Index?Id=" + Model.Id : "")>
        <div class="mdl-card__title">
        @if (Model.Type == KPaTS.Core.Type.Test)
        {
            <h2 class="mdl-card__title-text">#@(Model.Shortcut)</h2>
            <h2 class="mdl-card__subtitle-text displayNone">@@@(Model.Space)</h2>
        }
        else
        {
            <h2 class="mdl-card__title-text">@@@(Model.Space)</h2>
        }
        </div>
        <div class="mdl-card__supporting-text" id="preview-description">
            @(Model.Description)
        </div>
    </a>
</div>