@model KPaTS.Models.TestModel

@{
    ViewBag.Title = @Model.Name;
}

<div class="mdl-grid test-data">
    <div class="mdl-layout-spacer"></div>
    <section class="mdl-color--white mdl-cell mdl-cell--8-col card-relative card-padding mdl-cell--top mdl-shadow--2dp">
        <h4>Test info</h4>
        @foreach (var info in Model.Infos)
        {
            @Html.LabelFor(m => info.Name)
        }
        <a href="/Test/Pass?Id=@Model.Id" class="right-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">send</i>
        </a>
    </section>
    <div class="mdl-layout-spacer"></div>
</div>
