@{
    ViewBag.Title = "Ошибка при входе";
}

<section id="loginForm" class="mdl-color--white mdl-cell mdl-cell--8-col card-padding">
    <h4>Не удалось войти через службу.</h4>
    @Html.ActionLink("Авторизация", "Login", null, new { @class="mdl-button mdl-button--raised mdl-color--accent mdl-js-button mdl-js-ripple-effect" })
    @Html.ActionLink("Регистрация", "Register", null, new { @class="mdl-button mdl-js-button mdl-js-ripple-effect" })
</section>