.mdl-color--optic-white {
    background-color: #FAFAFA;
}

A {
    text-decoration: none;
}

A.mdl-button--fab {
    display: block;
}

header {
    overflow: visible!important;
}

body.index {
    background: url('../Images/bg.png') center / cover;
}

.welcome {
    text-align: center;
    font-weight: 200;
    color: white;
}

.page-content, .test-data, .mdl-layout__header-row {
    position: relative;
}

.main-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-container {
    align-self: center;
    z-index: 1;
}

.search-input-container {
    transition: all 0.3s ease;
    display: inline-block;
}

.search-input-container.shrink {
    width: 123px;
}

.search-input-container.space {
    margin-left: 50px;
    opacity: 1;
}

.search-input-container.space.invisible {
    /*display: none;*/
    opacity: 0;
    width: 0px;
    position: absolute;
}

.search-input-container INPUT {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0 5px 0 5px;
    font-size: 30px;
}

.search-input-container LABEL {
    padding: 0 5px 0 5px;
    top: 30px;
}

.tooltip-left {
    text-align: left;
}

SPAN.mark {
    font-weight: 700;
}

.card-relative {
    position: relative;
}

.card-padding {
    padding: 16px 32px;
}

.card-footer {
    padding: 8px;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.14),inset 0 3px 1px -2px rgba(0,0,0,.2);
    background-color: #C5CAE9;
    display: flex;
    justify-content: space-between;
}

.card-footer * {
    align-self: center;
}

.card-footer .author {
    color: rgba(0,0,0,.87);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}

.card-footer.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.drawer-header {
    display: flex;
    height: 144px;
    justify-content: space-around;
    background: url('../Images/drawer-bg.jpg') 33% 50% / 140% 100%;
    padding-bottom: 10px;
}

.drawer-header > * {
    align-self: flex-end;
}

.question .mdl-textfield {
    width: 100%;
}

.displayNone {
    display: none;
}

.literal {
    position: absolute;
    top: 28px;
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
    transition: all ease 0.3s;
    opacity: 0;
    left: 0;
    transform: rotate(45deg);
}

.is-focused .literal.space, .is-dirty .literal.space:not(.transition)  {
    top: 25px;
    left: -39px;
}

.is-focused .literal, .is-dirty .literal:not(.transition) {
    left: -25px;
    opacity: 1;
    transform: rotate(0deg);
}

.mdl-textfield.accent.is-dirty .mdl-textfield__label, .mdl-textfield.accent.is-focused .mdl-textfield__label {
    color: rgb(255,110,64);
}

.mdl-textfield.accent .mdl-textfield__label::after {
    background-color: rgb(255,110,64)!important;
}

.test-card {
    margin: auto;
    margin-top: 10px;
}

.test-card.decorated {
    height: 270px;
}

.tvims .mdl-card__title {
    background: url('../Images/tvims.jpg') 0px -23px / cover;
}

.math .mdl-card__title {
    background: url('../Images/math.jpg') -90px -160px;
    color: white;
}

.learn .mdl-card__title {
    background: url('../Images/learn.jpg') center / cover;
    color: white;
}

.check .mdl-card__title {
    background: url('../Images/test.jpg') center / cover;
}

.collaborate .mdl-card__title {
    background: url('../Images/collaboration.png') center / cover;
}

.mdl-card__subtitle-text {
    align-self: flex-end;
}

.autocomplete-container {
    width: 100%;
    position: absolute;
    margin-top: -20px;
    z-index: 0;
}

.autocomplete-frame {
    align-self: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    z-index: 3;
    transition: all 1s ease;
    width: 300px;
}

.autocomplete-card {
    width: 270px;
    min-height: initial;
    padding: 16px 0 16px 0;
    margin: auto;
    align-self: center;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.autocomplete-card .mdl-card__title, .autocomplete-card .mdl-card__supporting-text {
    margin: 0;
    padding: 0 16px 0 16px;
}

.autocomplete-card .mdl-card__subtitle-text {
    position: absolute;
    line-height: initial;
}

.description-col {
    margin: 40px 8px 0 8px;
    overflow: visible;
}

.description-col .mdl-card__title {
    height: 100px;
}

.description-col .mdl-button--fab {
    position: absolute;
    top: -28px;
    right: 10px;
}

.right-fab {
    position: absolute;
    right: 30px;
    bottom: -28px;
    z-index: 4;
    transition: all 0.3s ease;
}

.right-fab.transition {
    transform: scale(0.1) rotate(90deg);
    opacity: 0;
}

select {
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.26);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

select:focus {
    outline: none
}

.mdl-selectfield {
    width: 300px;
    max-width: 100%;
    position: relative;
    padding: 20px 0;
}

.mdl-selectfield select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.mdl-selectfield:after {
    position: absolute;
    top: 2.15em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
 }

.mdl-selectfield.is-invalid select {
    color: #de3226;
    border-color: #de3226;
}

.mdl-selectfield.is-invalid:after {
    border-top-color: #de3226;
}

.test-preview {
    display: flex;
    flex-direction: column;
}

.viewport-page {
    min-height: calc(100vh - 168px);
}

.about-page {
    padding-top: 56px;
    min-height: calc(100vh - 72px);
}

.about-page > H2 {
    font: 300 48px/60px Roboto,sans-serif;
    margin: 0 40px 20px;
}

.fab-scroll {
    margin-top: -92px;
}
