body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.mdl-color--optic-white {
    background-color: #FAFAFA;
}

A {
    text-decoration: none;
}

A.mdl-button--fab {
    display: block;
}

h2, h3, h4, h5 {
    text-transform: uppercase;
    opacity: .54;
}

p {
    opacity: .54;
    font-family: Roboto,sans-serif;
}

header {
    overflow: visible!important;
    transition: all 0.3s ease !important;
}

body.index {
    background: url('../Images/bg.png') center / cover;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    65% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

body:not(.admin) .page-content {
    animation-name: fadeInDown;
    animation-duration: .4s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

input[type="text"], input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="time"], input[type="url"],
input[type="week"], select[multiple], select[size], textarea {
    font: 16px/20px Roboto,sans-serif;
}

.welcome {
    text-align: center;
    text-transform: none;
    opacity: 1;
    font-weight: 200;
    color: white;
}

.mdl-layout-title span {
    font-weight: 300;
}

.page-content, .test-data, .mdl-layout__header-row {
    position: relative;
}

.test-data.info SECTION {
    margin-top: 36px;
    border-radius: 2px;
    padding: 0;
}

.test-data.info .right-fab {
    bottom: initial;
    top: -28px;
}

.test-data.info .space, .admin-table .space {
    font-weight: 500;
    color: #FF9E80;
    margin-left: 8px;
}

.test-data .test-title {
    padding: 0 16px;
}

.test-data.info SECTION, .test-theory, .page-wrapper {
    max-width: 800px;
}

.card-side {
    display: flex;
    flex-direction: column;
}

.card-side .body {
    display: flex;
    flex-direction: row;
}

.card-side .content {
    width: 100%;
}

.card-side ASIDE {
    padding: 16px;
    border-radius: 2px 0 0 2px;
    background-color: #E8EAF6;
    width: 100%;
    flex-shrink: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main-page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.open-search {
    display: none;
}

.search-attached .open-search {
    display: block;
}

.search-container {
    align-self: center;
    min-height: 77px;
    z-index: 1;
    position: relative;
}

.is-small-screen #header-search-container {
    opacity: 0;
    visibility: hidden;
}

.search-expanded #header-search-container {
    opacity: 1;
    visibility: visible;
}

.search-attached.search-expanded .mdl-navigation {
    display: none;
}

#header-search-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    transition: opacity .2s;
}

#header-search-container .search-input-container {
    flex-grow: 1;
}

#header-search-container .autocomplete-container {
    margin-left: 30px;
    margin-right: 20px;
}

.search-input-container {
    display: inline-block;
    color: black;
    transition: width .3s ease, opacity .3s ease;
}

HEADER .search-input-container * {
    box-shadow: none;
}

.search-input-container .mdl-textfield__label {
    font: 16px/20px Roboto,sans-serif;
}

HEADER .search-input-container .mdl-textfield__label {
    color: white;
}

.search-input-container.shrink {
    width: 123px;
}

.search-input-container.space {
    margin-left: 50px;
    opacity: 1;
}

.search-input-container.space.invisible {
    opacity: 0;
    width: 0px;
    position: absolute;
}

.search-input-container INPUT {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0 5px 0 5px;
    font-size: 30px;
    transition: color .2s, background .2s;
}

HEADER .search-input-container INPUT {
    background-color: #9FA8DA;
}

.search-input-container INPUT:hover {
    background-color: #C5CAE9;
}

.search-input-container INPUT:focus {
    background-color: #E8EAF6;
}

.search-input-container LABEL {
    padding: 0 5px 0 5px;
    top: 30px;
}

HEADER .search-input-container.is-dirty:not(.is-focused) INPUT {
    color: white;
}

HEADER .search-input-container.is-focused LABEL, HEADER .search-input-container.is-dirty LABEL {
    opacity: 0;
}

.tooltip-left {
    text-align: left;
}

SPAN.mark {
    font-weight: 700;
}

.card-relative {
    position: relative;
}

.card-padding {
    padding: 16px 32px;
}

.card-footer {
    padding: 8px;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.14),inset 0 3px 1px -2px rgba(0,0,0,.2);
    background-color: #C5CAE9;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 2px 2px;
}

.card-footer * {
    align-self: center;
}

.card-footer span {
    color: rgba(0,0,0,.87);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}

.card-footer.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.drawer-header {
    display: flex;
    height: 82px;
    justify-content: space-around;
    background: url('../Images/drawer-bg.jpg') 33% 50% / 140% 100%;
    padding-bottom: 10px;
}

.drawer-header .profile {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.drawer-header .profile p {
    margin: 0;
    opacity: 1;
}

.drawer-header .profile i {
    font-size: 50px;
}

.drawer-header > * {
    align-self: center;
    margin-top: 10px;
}

.question-card {
    padding-top: 16px;
}

.mdl-textfield:not(.search-input-container) {
    width: 100%;
}

.question-card > DIV {
    padding: 0 16px;
}

.question-card .answers {
    border-top: 1px solid rgba(0,0,0,0.1);
    background-color: #C5CAE9;
}

.displayNone {
    display: none;
}

.literal {
    position: absolute;
    top: 28px;
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
    transition: all ease 0.3s;
    opacity: 0;
    left: 0;
    transform: rotate(45deg);
}

.is-focused .literal.space, .is-dirty .literal.space:not(.transition)  {
    top: 25px;
    left: -39px;
}

.is-focused .literal, .is-dirty .literal:not(.transition) {
    left: -25px;
    opacity: 1;
    transform: rotate(0deg);
}

.mdl-textfield.accent.is-dirty .mdl-textfield__label, .mdl-textfield.accent.is-focused .mdl-textfield__label {
    color: rgb(255,110,64);
}

.mdl-textfield.accent .mdl-textfield__label::after {
    background-color: rgb(255,110,64)!important;
}

.test-card {
    margin: auto;
    margin-top: 10px;
}

.test-card.decorated {
    height: 270px;
}

.tvims .mdl-card__title {
    background: url('../Images/tvims.jpg') 0px -23px / cover;
}

.math .mdl-card__title {
    background: url('../Images/math.jpg') -90px -160px;
    color: white;
}

.learn .mdl-card__title {
    background: url('../Images/learn.jpg') center / cover;
    color: white;
}

.check .mdl-card__title {
    background: url('../Images/test.jpg') center / cover;
}

.collaborate .mdl-card__title {
    background: url('../Images/collaboration.png') center / cover;
}

.mdl-card__subtitle-text {
    align-self: flex-end;
}

.autocomplete-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-left: 10px;
    background-color: white;
    z-index: -1;
    transition: transform .2s, visibility .3s, opacity .2s;
}

.autocomplete-container.container-hidden {
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
}

.results {
    list-style-type: none;
    padding: 0 16px;
    margin-top: 16px;
    margin-bottom: 0;
    position: relative;
}

.results-preview {
    margin: 16px  auto;
    width: 228px;
}

.results-preview .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 5%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 95%);
}

.results-category {
    color: #757575;
    font-size: 12px;
}

.results-item, .expandable {
    font: 13px/20px Roboto,sans-serif;
}

.results-item.with-button {
    margin-left: -42px;
}

.results-item.with-button .mdl-button {
    opacity: 0;
    left: -20px;
    transition: opacity .2s, left .2s;
}

.results-item.with-button:hover .mdl-button {
    opacity: 1;
    left: 0px;
}

.results-item.expandable-content {
    min-height: 36px;
    position: relative;
}

.expandable {
    display: flex;
    flex-direction: column;
    transition: box-shadow .2s, background-color .2s;
}

.expandable .header {
    display: flex;
}

.expandable .header A {
    cursor: pointer;
}

.expandable .header .mdl-button {
    margin-right: 10px;
}

.expandable .body, .expandable .footer {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
}

.expandable:not(.expanding):not(.is-expanded) .body, .expandable:not(.expanding):not(.is-expanded) .footer {
    display: none;
}

.expandable .body {
    flex-grow: 1;
    background-color: #e8eaf6;
    overflow-y: auto;
}

.expandable.is-expanded {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.results-item A, .expandable A {
    padding: 8px;
    margin-left: -8px;
    display: block;
    color: #212121;
    font-weight: normal;
}

.results-item .space {
    font-weight: 500;
    color: #FF9E80;
}

.results-all-results {
    border-top: 1px solid #ebebeb;
    margin: 8px 0 0;
    padding: 7px 0 8px;
}

.autocomplete-card {
    width: 270px;
    min-height: initial;
    padding: 16px 0 16px 0;
    align-self: center;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.autocomplete-card .mdl-card__title, .autocomplete-card .mdl-card__supporting-text {
    margin: 0;
    padding: 0 16px 0 16px;
}

.autocomplete-card .mdl-card__subtitle-text {
    position: absolute;
    line-height: initial;
}

.description-col {
    margin: 40px 8px 0 8px;
    overflow: visible;
}

.description-col .mdl-card__title {
    height: 100px;
}

.description-col .mdl-button--fab {
    position: absolute;
    top: -28px;
    right: 10px;
}

.right-fab {
    position: absolute;
    right: 30px;
    bottom: -28px;
    z-index: 4;
    transition: all 0.3s ease;
}

.right-fab.transition {
    transform: scale(0.1) rotate(90deg);
    opacity: 0;
}

select {
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.26);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

select:focus {
    outline: none
}

.mdl-selectfield {
    width: 100%;
    position: relative;
    padding: 20px 0;
}

.mdl-selectfield select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-weight: 400;
    line-height: 20px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.mdl-selectfield:after {
    position: absolute;
    top: 2.15em;
    right: 0.5em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
 }

.mdl-selectfield.is-invalid select {
    color: #de3226;
    border-color: #de3226;
}

.mdl-selectfield.is-invalid:after {
    border-top-color: #de3226;
}

.test-preview {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.viewport-page {
    min-height: calc(100vh - 120px);
}

.about-page {
    padding-top: 56px;
    min-height: calc(100vh - 72px);
}

.about-page > H2 {
    font: 300 48px/60px Roboto,sans-serif;
    margin: 0 40px 20px;
}

.fab-scroll {
    margin-top: -92px;
}

.question-control, .rating-control {
    width: 220px;
    margin: auto;
    overflow: visible;
    height: 40px;
    position: relative;
    line-height: 40px;
    border-radius: 20px;
}

.question-control .button-back, .rating-control .button-bad {
    position: absolute;
    left: 0px;
    top: 0;
}

.question-control .button-forward, .rating-control .button-good {
    position: absolute;
    right: 0px;
    top: 0;
    transition: background-color .5s;
}

.mdl-data-table__cell--buttons {
    padding-top: 9px!important;
}

.admin-table {
    margin-top: 40px;
    position: relative;
}

.admin-table .right-fab {
    bottom: initial;
    top: -28px;
}

.mdl-textfield .floating-icon {
    position: absolute;
    left: 0px;
    transition: opacity .2s ease-in, left .2s ease-in;
}

.mdl-textfield--floating-icon:not(.is-focused):not(.is-dirty) .mdl-textfield__label {
    padding-left: 30px;
}

.mdl-textfield--floating-icon.is-focused .floating-icon,
.mdl-textfield--floating-icon.is-dirty .floating-icon {
    opacity: 0;
    left: -10px;
}

.search-card-container {
    min-height: 101px;
    position: relative;
}

@keyframes grow {
    0% {
        height: 101px;
        background-color: initial;
        box-shadow: none;
    }
    100% {
        height: 250px;
        background-color: white;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
        /*overflow-y: auto;
        max-height: 213px;*/
    }
}

.search-card {
    border-radius: 2px;
    top: 0;
    left: 0;
    right: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.search-card .results {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .1s, transform .1s;
    position: absolute;
}

.search-card.focused {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: white;
    position: absolute;
    z-index: 999;
    animation: grow .3s;
    height: 250px;
}

.search-card.focused .results {
    opacity: 1;
    position: relative;
    transform: translateY(0px);
    transition: opacity .5s, transform .5s;
}

.theory-pieces {
    display: flex;
    flex-wrap: wrap;
}

.theory-pieces .piece {
    background-color: white;
    margin-left: 8px;
    margin-top: 8px;
    padding-right: 8px;
    border-radius: 20px 2px 2px 20px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.redactor-editor abbr.attached-question {
    background-color: rgba(0, 255, 255, 0.1);
    border-radius: 4px;
    padding: 0 3px;
    border-left: 1px solid rgba(0,0,0,0.7);
    border-right: 1px solid rgba(0,0,0,0.7);
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}