body.index {
    background: url('../Images/bg.png') center / cover;
}

.welcome {
    text-align: center;
    color: white;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.main-input-container {
    align-self: center;
}

.main-input-container INPUT {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0 5px 0 5px;
    font-size: 30px;
}

.main-input-container LABEL {
    padding: 0 5px 0 5px;
    top: 30px;
}

.tooltip-left {
    text-align: left;
}

SPAN.mark {
    font-weight: 700;
}

.card-padding {
    padding: 16px 32px;
}

.card-footer {
    padding: 8px;
    box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.14),inset 0 3px 1px -2px rgba(0,0,0,.2);
    background-color: #C5CAE9;
    display: flex;
    justify-content: space-between;
}

.card-footer * {
    align-self: center;
}

.card-footer .author {
    color: rgba(0,0,0,.87);
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}

.card-footer.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.drawer-header {
    display: flex;
    height: 144px;
    justify-content: space-around;
}

.drawer-header > * {
    align-self: center;
}

.question .mdl-textfield {
    width: 100%;
}

.right-fab {
    position: fixed;
    right: 30px;
    bottom: 120px;
}

.displayNone {
    display: none;
}
