<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--top mdl-cell--12-col fab-scroll">
        <a class="mdl-button--fab mdl-color--white mdl-color-text--blue-grey-500" href="#about" id="about-scroll">
            <i class="material-icons">expand_more</i>
        </a>
    </div>
    <div class="mdl-cell mdl-cell--top mdl-cell--12-col mdl-typography--text-center">
        <h2 id="about">О проекте</h2>
    </div>
    <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col learn mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Изучай</h2>
        </div>
        <div class="mdl-button--fab mdl-color--accent">
            <i class="material-icons">local_library</i>
        </div>
        <div class="mdl-card__supporting-text">
            Тянет к знаниям? Выбери интересующую тему или предмет и начни постигать неизведанное! Материалы на любой вкус от множества преподавателей... когда нибудь появятся тут!
        </div>
    </div>
    <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col check mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Проверяй себя</h2>
        </div>
        <div class="mdl-button--fab mdl-color--accent">
            <i class="material-icons">done_all</i>
        </div>
        <div class="mdl-card__supporting-text">
            Уверен в своих знаниях? Покажи на что ты способен и пройди один из тестов по изученной дисциплине! Наберёшь много баллов - будешь красоваться на вершине списка лидеров!
        </div>
    </div>
    <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col collaborate mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Помогай</h2>
        </div>
        <div class="mdl-button--fab mdl-color--accent">
            <i class="material-icons">school</i>
        </div>
        <div class="mdl-card__supporting-text">
            Знаешь то, чего не знают другие? Запиши свои знания и подкрепи тестом для улучшения качества изучения! Чем больше сообщество - тем лучше.
        </div>
    </div>
</div>