@model List<KPaTS.Core.AutocompleteInfo>

@if (Model.Count > 0)
{
    if (Model.Any(p => p.Type == KPaTS.Core.Type.Space))
    {
        <li class="results-category">Spaces</li>
        foreach (var item in Model.Where(p => p.Type == KPaTS.Core.Type.Space).Take(3))
        {
            @Html.Partial("~/Views/Test/_TestAutocompletePartial.cshtml", item);
        }
    }

    if (Model.Any(p => p.Type == KPaTS.Core.Type.Test))
    {
        <li class="results-category">Tests</li>
        foreach (var item in Model.Where(p => p.Type == KPaTS.Core.Type.Test).Take(3))
        {
            @Html.Partial("~/Views/Test/_TestAutocompletePartial.cshtml", item);
        }
    }

    <li class="results-all-results"><a id="all-results" class="mdl-button mdl-button--primary mdl-js-button">All results</a></li>
}