@{
    ViewBag.Title = "Домашняя страница";
}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col main-page">
        <h2 class="welcome">
            Hello
        </h2>
        <h6 class="welcome">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet. Aenean tincidunt mi dui, id tincidunt odio rhoncus commodo. Quisque diam diam, vehicula quis pharetra at, eleifend non neque. Integer sit amet pellentesque odio, id varius est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis ac ipsum vel ante ultricies semper vel id tortor.
        </h6>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label main-input-container">
            <input class="mdl-textfield__input mdl-shadow--4dp" type="text" id="search" />
            <label class="mdl-textfield__label" for="sample3">#test name</label>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large tooltip-left" for="search">
            Search variations:
            <ul>
                <li>#testName
                <li>@@space
                <li>#test@@space
            </ul>
        </div>
    </div>
</div>
