@{
    ViewBag.Title = "Домашняя страница";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_INDEX;
}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col main-page">
        <h2 class="welcome">
            Hello
        </h2>
        <h6 class="welcome">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet. Aenean tincidunt mi dui, id tincidunt odio rhoncus commodo. Quisque diam diam, vehicula quis pharetra at, eleifend non neque. Integer sit amet pellentesque odio, id varius est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis ac ipsum vel ante ultricies semper vel id tortor.
        </h6>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label main-input-container">
            <span class="literal mdl-color-text--primary">#</span>
            <input class="mdl-textfield__input mdl-shadow--4dp" type="text" id="search" />
            <label class="mdl-textfield__label">Search query</label>
        </div>
        <div class="mdl-tooltip mdl-tooltip--large tooltip-left" for="search">
            Search variations:
            <ul>
                <li><span class="mdl-color-text--primary mark">#</span>testName
                <li><span class="mdl-color-text--accent mark">@@</span>space
                <li><span class="mdl-color-text--primary mark">#</span>test<span class="mdl-color-text--accent mark">@@</span>space
            </ul>
        </div>
    </div>
    @foreach(var test in ViewBag.RecommendedTests)
    {
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
            @Html.Partial("~/Views/Test/_TestCardPartialView.cshtml", (KPaTS.Models.TestInfoModel)test);
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>
        $("#search").keyup(function (){
            var leading = $("#search").val().charAt(0);

            if (leading == "@@" || leading == "#") {
                $("#search").val($("#search").val().substr(1));
                $("#search").blur();
                $(".literal").addClass("transition");

                if (leading == "@@") {
                    $(".literal").addClass("space mdl-color-text--accent").removeClass("mdl-color-text--primary");
                    $("#search").parent().addClass("accent");
                }
                else if (leading == "#") {
                    $(".literal").removeClass("space mdl-color-text--accent").addClass("mdl-color-text--primary");
                    $("#search").parent().removeClass("accent");
                }

                setTimeout(function () {
                    $("#search").focus();
                    $(".literal").removeClass("transition");
                    $(".literal").text(leading);
                }, 200);
            }
        });
    </script>
}
