@{
    ViewBag.Title = "Домашняя страница";
    ViewBag.PageId = KPaTS.Core.PageID.PAGE_INDEX;
}
<section class="mdl-grid viewport-page">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--middle mdl-cell--8-col main-page">
        <h2 class="welcome">
            Hello and welcome to %projectname%
        </h2>
        <div class="search-container">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label search-input-container" id="main-search-container">
                <span class="literal mdl-color-text--primary">#</span>
                <input class="mdl-textfield__input mdl-shadow--4dp" type="text" id="search-main" />
                <label class="mdl-textfield__label">Search query</label>
            </div>
            <div class="mdl-textfield accent mdl-js-textfield mdl-textfield--floating-label search-input-container space invisible shrink" id="secondary-search-container">
                <span class="literal space mdl-color-text--accent">@@</span>
                <input class="mdl-textfield__input mdl-shadow--4dp" type="text" id="search-secondary" />
                <label class="mdl-textfield__label">Space</label>
            </div>
            <div class="autocomplete-container mdl-shadow--8dp container-hidden">
                <ul id="suggest-list" class="results displayNone">
                </ul>
                <ul id="suggest-recommended" class="results">
                    <li class="results-category">Check out these featured tests</li>
                    <li class="results-item"><a>One</a></li>
                    <li class="results-item"><a>Two</a></li>
                    <li class="results-item"><a>Thee</a></li>
                </ul>
            </div>
        </div>
        <h6 class="welcome">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet. Aenean tincidunt mi dui, id tincidunt odio rhoncus commodo. Quisque diam diam, vehicula quis pharetra at, eleifend non neque. Integer sit amet pellentesque odio, id varius est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis ac ipsum vel ante ultricies semper vel id tortor.
        </h6>
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
<section class="about-page viewport-page mdl-color--optic-white">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--top mdl-cell--12-col fab-scroll">
            <a class="mdl-button--fab mdl-color--white mdl-color-text--blue-grey-500" href="#about" id="about-scroll">
                <i class="material-icons">expand_more</i>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--top mdl-cell--12-col mdl-typography--text-center">
            <h2 id="about">About project</h2>
        </div>
        <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col learn mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Learn</h2>
            </div>
            <div class="mdl-button--fab mdl-color--accent">
                <i class="material-icons">local_library</i>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet.
            </div>
        </div>
        <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col check mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Check</h2>
            </div>
            <div class="mdl-button--fab mdl-color--accent">
                <i class="material-icons">done_all</i>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet.
            </div>
        </div>
        <div class="mdl-cell--top mdl-cell--4-col mdl-cell--8-col-tablet mdl-card description-col collaborate mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Collaborate</h2>
            </div>
            <div class="mdl-button--fab mdl-color--accent">
                <i class="material-icons">school</i>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis placerat lectus. Duis ultrices vel ex vel aliquet.
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>
        function buildQuery() {
            if ($("#search-main").val().length == 0 && $("#search-secondary").val().length == 0)
                return

            var query = ($("#main-search-container .literal").hasClass("space") ? "@@" : "#") + $("#search-main").val();
            if ($("#search-secondary").val().length > 0)
                query += "@@" + $("#search-secondary").val();

            return query
        }

        $("#search-main").keyup(function () {
            var leading = $("#search-main").val().charAt(0);
            var lastSymbol = $("#search-main").val().charAt($("#search-main").val().length - 1);

            if (leading == "@@" || leading == "#") {
                $("#search-main").val($("#search-main").val().substr(1));
                $("#search-main").blur();
                $("#main-search-container .literal").addClass("transition");

                if (leading == "@@") {
                    $("#main-search-container .literal").addClass("space mdl-color-text--accent").removeClass("mdl-color-text--primary");
                    $("#search-main").parent().addClass("accent");
                }
                else if (leading == "#") {
                    $("#main-search-container .literal").removeClass("space mdl-color-text--accent").addClass("mdl-color-text--primary");
                    $("#search-main").parent().removeClass("accent");
                }

                setTimeout(function () {
                    $("#search-main").focus();
                    $("#main-search-container .literal").removeClass("transition");
                    $("#main-search-container .literal").text(leading);
                }, 200);
            }

            if ($("#search-main").val().length != 0)
                $("#search-tooltip").hide();
            else
                $("#search-tooltip").show();

            if (!$("#main-search-container .literal").hasClass("space") && lastSymbol == "@@") {
                $("#search-main").blur();
                $("#main-search-container").addClass("shrink");
                $("#search-main").val($("#search-main").val().substr(0, $("#search-main").val().length - 1));
                setTimeout(function () {
                    $("#secondary-search-container").removeClass("invisible");
                    setTimeout(function () {
                        $("#search-secondary").focus();
                    }, 50);
                }, 200);
            }

            autocomplete(buildQuery());
        });

        $("#search-secondary").keyup(function () {
            if (!$("#search-secondary").val().length) {
                $("#secondary-search-container").addClass("invisible");
                $("#main-search-container").removeClass("shrink");
                $("#search-secondary").blur();
                $("#search-main").focus();
            }
            autocomplete(buildQuery());
        });

        function autocomplete(query) {
            if (!query || query.length == 0)
                return

            $.post('/Home/GetAutocompleteResults', { "query": query }, function (response) {
                if (response.length != 0) {
                    $("#suggest-list").show().html(response);
                    $("#suggest-recommended").hide();
                }
                else {
                    $("#suggest-list").hide();
                    $("#suggest-recommended").show();
                }
            }).fail(function (a) {
                $("body").html(a.responseText);
            });
        }

        $(".mdl-layout__content").scroll(function () {
            if (!isScrolledIntoView($(".search-container"))) {
                $("header").addClass("mdl-color--primary");
                $(".search-container").children().appendTo($("#header-search-container"));
            }
            else {
                $("header").removeClass("mdl-color--primary");
                $("#header-search-container").children().appendTo($(".search-container"));
            }
        });

        $(".search-input-container INPUT").blur(function () {
            $(".autocomplete-container").addClass("container-hidden");
        });

        $(".search-input-container INPUT").focus(function () {
            $(".autocomplete-container").removeClass("container-hidden");
        });
    </script>
}
