@model KPaTS.Models.SpaceModel

@{
    ViewBag.Title = "Index";
}

<div class="mdl-grid mdl-color--primary mdl-color-text--white">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--8-col">
        <h2>@@@Model.Shortcut</h2>
        <h6>@Model.Name</h6>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell--8-col mdl-grid">
    @foreach (var test in Model.Tests)
    {
        @Html.Partial("~/Views/Test/_TestCardPartialView.cshtml", test);
    }
    </div>
</div>
